.simform {
  font-size: 2.5em;
  margin: 0 auto;
  max-width: 860px;
  padding: 2em 0;
  position: relative;
  text-align: left;
  width: 100%;
}
.simform .submit {
  display: none;
}
.simform ol {
  -webkit-transition: height 0.4s;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: height 0.4s;
}
.simform ol:before {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  content: '';
  height: 2.35em;
  left: 0;
  position: absolute;
  width: 100%;
}
.simform button:focus {
  outline: none;
}
.simform .progress {
  -webkit-transition: width 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  height: 0.15em;
  transition: width 0.4s ease-in-out;
  width: 0;
}
.simform .progress:before {
  background: rgba(0, 0, 0, 0.05);
  content: '';
  height: inherit;
  position: absolute;
  top: auto;
  width: 100%;
}
.simform .number {
  font-size: 0.4em;
  font-weight: 700;
  margin: 0.4em 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 3em;
}
.simform .number:after {
  -webkit-transform: translateX(-50%);
  content: '/';
  left: 50%;
  opacity: 0.4;
  position: absolute;
  transform: translateX(-50%);
}
.simform .number span {
  float: right;
  text-align: center;
  width: 40%;
}
.simform .number .number-current {
  float: left;
}
.simform .number-next {
  left: 0;
  position: absolute;
}
.simform .error-message {
  -webkit-transition: opacity 0.4s;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.4em;
  font-style: italic;
  opacity: 0;
  padding: 0.4em 3.5em 0 0;
  position: absolute;
  transition: opacity 0.4s;
  visibility: hidden;
  width: 100%;
}
.simform .final-message {
  -webkit-transition: opacity 0.4s;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s;
  visibility: hidden;
}
.questions li {
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  height: 0;
  position: relative;
  transition: visibility 0s 0.4s, height 0s 0.4s;
  visibility: hidden;
  z-index: 100;
}
.questions li.current {
  -webkit-transition: none;
  height: auto;
  transition: none;
  visibility: visible;
}
.questions li > span {
  display: block;
  overflow: hidden;
}
.questions li > span label {
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  display: block;
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.questions li.current > span label {
  -webkit-transform: translateY(0);
  -webkit-transition: none;
  transform: translateY(0);
  transition: none;
}
.questions input {
  -webkit-transition: opacity 0.3s;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 1em;
  line-height: 1;
  margin: 0.3em 0 0 0;
  opacity: 0;
  padding: 0.5em 1em 0.5em 0.7em;
  transition: opacity 0.3s;
  width: calc(100% - 2em);
}
.questions input:focus {
  outline: none;
}
.questions .current input {
  opacity: 1;
}
.no-js .questions li {
  -webkit-transition: none;
  height: auto;
  padding: 0 0 2em;
  transition: none;
  visibility: visible;
}
.no-js .questions li > span label {
  -webkit-transform: translateY(0);
  -webkit-transition: none;
  transform: translateY(0);
  transition: none;
}
.no-js .questions input {
  opacity: 1;
}
.no-js .simform {
  font-size: 1.75em;
}
.no-js .simform .submit {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: rgba(0, 0, 0, 0.4);
  display: block;
  float: right;
  padding: 10px 20px;
}
.no-js .simform .controls {
  display: none;
}
.show-next .questions li.current > span label {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}
@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.next {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-20%);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  background: none;
  border: none;
  bottom: 2.15em;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: block;
  height: 2em;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  transform: translateX(-20%);
  transition: transform 0.3s, opacity 0.3s;
  width: 2em;
  z-index: 100;
}
.next:hover {
  color: rgba(0, 0, 0, 0.5);
}
.next:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "\e600";
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 100%;
  left: 0;
  line-height: 2;
  position: absolute;
  speak: none;
  text-transform: none;
  top: 0;
  width: 100%;
}
.next.show {
  -webkit-transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
.simform.show-next .number-current {
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.simform.show-next .number-next {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both;
}
.final-message {
  -webkit-transform: translateY(-50%);
  left: 0;
  padding: 0.5em;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.error-message.show {
  opacity: 1;
  visibility: visible;
}
.final-message.show {
  -webkit-transition-delay: 0.5s;
  opacity: 1;
  transition-delay: 0.5s;
  visibility: visible;
}
.simform-inner.hide {
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
  visibility: hidden;
}
input[type=text]::-ms-clear {
  display: none;
}
@media screen and (max-width: 44.75em) {
  .simform {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 33.5625em) {
  .simform {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=component.css.map */